<%- include('partials/header.ejs') %>


<form action="/submit" method="POST">
    <label for="Blog">Blog post:</label>
    <textarea name="blogtweet" id="textarea" cols="30" rows="10"></textarea>
</form>




<%- include('partials/footer.ejs') %>